@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your global styles here */
/* body {
  @apply bg-yellow-900;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-blue-900 !important;
}

p {
  @apply text-gray-500 text-2xl !important;
}

#menu,
#footer,
#articles,
#cta-links {
  @apply hidden !important;
}

.button-blue {
  @apply bg-blue-800 !important;
}

/* a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  @apply text-gray-600;
} */
