@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your global styles here */
/* body {
  @apply bg-yellow-900;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-gray-900;
}

/* a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  @apply text-gray-600;
} */
