---
import Navbar from "../components/Navbar.astro";
import Foot from "../components/Foot.astro";


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Web B description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/nuhsfav.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link href="src/styles/global-web.css" rel="stylesheet">
	
</head>
<body class="flex flex-col min-h-screen"> <!-- Apply Flexbox and min-height here -->
    <header>
        <Navbar/>
    </header>
    
    <main class="flex-grow"> <!-- This allows the content to grow and push the footer down -->
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <!-- Content goes here -->
            <slot />
        </div>
    </main>
    
    <footer class="Foot"> <!-- Optionally, you can add Tailwind classes for styling -->
        <Foot/>
    </footer>
</body>
</html>
